// VENDORS
@import "~normalize.css/normalize";

// LOCAL
@import "./abstract/system-font-stack";

body {
    margin: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#rerun {
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 20px;
    z-index: 20;
}