// VENDORS
@import "~normalize.css/normalize";

// LOCAL
@import "./abstract/system-font-stack";

body {
    margin: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}